body{
    background-color: #FE7876;
    background-image: url('../images/bg-intro-desktop.png');
    font-family: poppins, sans-serif;
}
.form input{
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    box-sizing: border-box;
}   
.form input::placeholder{
    color: #858484;
    font-weight: 500;
}
.title{
    font-size: 50px;
    font-weight: bold;
    margin-left: 10px;
    text-align: left;
    margin-bottom: 20px;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    body {
        background-image: url('../images/bg-intro-mobile.png');
        text-align: center;
    }
    .title{
        font-size: 40px;
    }
    .form{
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
}