body{
    background-color: #FE7876;
    background-image: url('../images/bg-intro-desktop.png');
}
.form input{
    border: 2px solid #D0D0D0;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}   
.title{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF;
}