body {
  background-image: url("./images/bg-main-desktop.png");
  background-repeat: no-repeat;
  font-family: "space grotesk", sans-serif;
}
.front-card {
  background-image: url("images/bg-card-front.png");
  background-repeat: no-repeat;
  height: 300px;
  width: 450px;
  padding: 30px;
  color: white;
  margin-left: 100px;
  margin-top: 20px;
}
.back-card {
  background-image: url("images/bg-card-back.png");
  background-repeat: no-repeat;
  height: 300px;
  width: 450px;
  margin-left: 200px;
}
@media (max-width: 768px) {
  body {
    background-image: url("./images/bg-main-mobile.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .container {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  form {
    margin-top: 0px;
    position: relative;
    top: -200px;
  }
  .front-card {
    top: 150px;
    left: -10px;
    margin-bottom: 0;
    z-index: 5;
    position: relative;
  }
  .back-card {
    top: -300px;
    left: -80px;
    margin-bottom: 0;
    z-index: 3;
    position: relative;
  }
}
